.inner {
  left: 2.5px !important;
}
.inner .mord .mrel {
  visibility: hidden;
  position: relative;
}
.inner .mord .mrel::after {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  content: "/" !important;
}
.katex .vlist > span:nth-child(3) .mord .mord {
  text-decoration: underline !important;
  text-underline-offset: 5px !important;
}
